@media (min-width: 600px) {

  nav {
    display: block;
  }

  nav ul {
    flex-direction: row; /* horizontal on desktop */
    justify-content: flex-end;
    padding-top: 0;
  }

  #menu-toggle {
    display: none;
  }

  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
