@media (min-width: 600px) {

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: row; /* HORIZONTAL */
    gap: 1rem;
  }

  #menu-toggle {
    display: none;
  }

  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
