@media (min-width: 600px) {

  nav {
    display: block;
  }

  nav ul {
    flex-direction: row; /* horizontal */
    justify-content: flex-end; /* right-aligned */
    padding-top: 0;
    gap: 1.5rem; /* spacing between links */
  }

  nav li {
    padding: 0; /* remove mobile padding */
  }

  #menu-toggle {
    display: none;
  }

  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
