@media (min-width: 600px) {

  nav {
    display: block;
  }

  nav ul {
    flex-direction: row; /* horizontal menu */
    justify-content: flex-end; /* push links to right */
    padding-top: 0;
    gap: 2rem; /* spacing between desktop links */
  }

  nav li {
    padding: 0; /* remove mobile padding */
  }

  #menu-toggle {
    display: none;
  }

  header h2 {
    white-space: nowrap; /* keeps "Temple Album" on one line */
  }

  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
